.quick-button {
  background-color: white;
  border-radius: 16px;
  width: 380px;
  height: 48px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
  margin-top: 15px;
  justify-content: space-between;
}
.quick-button:hover {
  background-color: #f1f1f1;
  transform: translateY(-1px);
}
.quick-button-text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.quick-button-title-icon {
  height: 32px;
  margin-bottom: 4px;
  object-fit: contain;
  margin-right: 5px;
}
.quick-button-title {
  font-size: 16px;
  font-family: "NanumSquare_c";
  margin-bottom: 4px;
  margin-right: 5px;
}

.quick-button-content {
  font-size: 13px;
  font-family: "NanumSquare_b";
  color: #666;
}

.quick-button-icon {
  width: 10px;
  height: 16px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.quick-button-icon:hover {
  transform: scale(1.1);
}
