.payment-card {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  font-family: "NanumSquare_b";
  font-size: 13px;
}
.payment-card-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}
.payment-card-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}
.payment-card-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
