input[type="checkbox"] {
  /* 기본 체크박스 숨기기 */
  appearance: none;
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid #bdbdbd; /* 체크 안 됐을 때 회색 테두리 */
  border-radius: 4px;
  background: #fff;
  cursor: pointer;
  position: relative;
  transition: border-color 0.2s;
  vertical-align: middle;
}
input[type="checkbox"]:checked {
  border: 2px solid #b6c1ff; /* 체크됐을 때 검정 테두리 */
  background: #8b85c4;
}
input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  border: none; /* 체크 표시 검정색 */
  /* left: 4px;
  top: -1px;
  width: 5px;
  height: 10px;
  border-width: 0 2px 2px 0; */
  transform: rotate(45deg);
  /* 체크 표시가 가운데 오도록 조정 */
  display: block;
}
input[type="checkbox"]:focus {
  outline: none;
  box-shadow: 0 0 0 2px #e0e0e0;
}
input[type="checkbox"]:disabled {
  border: 2px solid #ffffff;
  background: #fff;
}
input[type="checkbox"]:disabled::after {
  content: "";
}
.unpaid-payments {
  width: 100%;
  /* min-height: calc(100vh - 500px); */
  /* height: 100%; */
  /* overflow-y: auto;
  scrollbar-width: none; */
  background-color: #ffffff;
  border-radius: 16px;
  padding: 18px 18px 8px 18px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}
.unpaid-payments-title {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.unpaid-payments-title span {
  font-family: "NanumSquare_b";
  font-size: 16px;
  padding-bottom: 10px;
}
.unpaid-payments-title-checkbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding-bottom: 10px;
}
.unpaid-payments-title-checkbox span {
  font-family: "NanumSquare_b";
  font-size: 12px;
  padding: 0px;
}
.unpaid-payments-title-total-checkbox {
  width: 40px;
  text-align: end;
}
.unpaid-payments-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.unpaid-payments-content-empty {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.unpaid-payments-content-empty img {
  width: 150px;
  height: 170px;
}
.unpaid-payments-content-empty span {
  font-family: "NanumSquare_b";
  font-size: 16px;
  margin-bottom: 25px;
}
