.un-payment-info {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.un-payment-info .un-payment-info-title {
  padding: 20px 0px;
  font-family: "NanumSquare_c";
  font-size: 16px;
}
.un-payment-info .un-payment-info-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.un-payment-info .un-payment-info-content .un-payment-info-content-grade {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 15px;
}
.un-payment-info .un-payment-info-content .un-payment-info-content-grade-title {
  font-family: "NanumSquare_c";
  font-size: 16px;
}
.un-payment-info .un-payment-info-content .un-payment-info-content-grade-name {
  font-family: "NanumSquare_d";
  font-size: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.un-payment-info
  .un-payment-info-content
  .un-payment-info-content-grade-name
  img {
  width: 15px;
  height: 17px;
}
.un-payment-info .un-payment-info-content .un-payment-info-content-limit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 10px;
}
.un-payment-info
  .un-payment-info-content
  .un-payment-info-content-limit
  .un-payment-info-content-balance {
  font-family: "NanumSquare_d";
  font-size: 20px;
}
.un-payment-info
  .un-payment-info-content
  .un-payment-info-content-limit
  .un-payment-info-content-limit-price {
  font-family: "NanumSquare_c";
  font-size: 16px;
}

.un-payment-info .un-payment-info-content .un-payment-info-content-progress {
  width: 100%;
  display: flex;
  justify-content: center;
}

.progress-bar {
  width: 100%;
  height: 10px;
  background-color: #ffffff;
  border-radius: 6.5px;
  overflow: hidden;
  position: relative;
}

.progress-fill {
  height: 100%;
  background-color: #1e3a8a;
  border-radius: 6.5px;
  animation: fillFromLeft 0.5s forwards; /* 애니메이션 이름, 시간, 방향 지정 */
}
@keyframes fillFromLeft {
  from {
    width: 0; /* 시작 시 너비 0 */
  }
  to {
    width: width; /* 끝 시 너비 100% */
  }
}
