.footer {
  width: 354px;
  height: 65px;
  border-radius: 20px 20px 0 0; /* 상단만 둥근 모서리 */
  box-shadow: 0 0 10px rgba(135, 206, 235, 0.3); /* 파란색 글로우 효과 */
  position: fixed;
  bottom: 0;
  transform: translate(-50%, 0);
  left: 50%;
  padding: 0px 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer.footer-main {
  background-color: #ffffff;
}

.footer.footer-shorts {
  background-color: #000000;
}

.footer-shorts .footer-ico svg.selected {
  color: #ffffff;
}

.footer-ico {
  width: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.footer-ico svg {
  margin-top: 5px;
  width: 20px;
  height: 20px;
  color: #787878;
  transition: 0.2s;
}

.footer-ico svg.selected {
  color: #000000;
}

.footer-ico span {
  margin-top: 5px;
  font-size: 10px;
  font-family: "NanumSquare_a";
  /* color: #000000; */
}

.footer-ico svg:hover {
  color: #000000;
  transform: scale(1.2);
}
