.header {
  width: 440px;
  height: 62px;
  border-bottom: 0.5px solid #ffffff;
  padding: 22px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header img {
  width: 129px;
  height: 15px;
}
.header svg {
  width: 20px;
  height: 20px;
  color: #ffffff;
  cursor: pointer;
}
.header svg:hover {
  color: #cfe0ff;
  transform: scale(1.2);
}
